{% extends 'base/base.html' %} {% block content %}

<h1>
    Base project for the
    <a target="_blank" href="https://leanpub.com/django-the-easy-way"
        >"Django - The Easy Way" </a
    >book.
</h1>

<p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quis
    eligendi cumque totam rem consequuntur consequatur? Est, provident dolor.
    Velit nihil eligendi facilis perspiciatis voluptatum ad reiciendis molestias
    mollitia quisquam?
</p>

{% endblock %}
