{% extends 'base/base.html' %} {% block content %} {% for flower in flowers %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ flower.title }}</h5>
        <p class="card-text">
            Lorem ipsum, dolor sit amet cons\ ectetur adipisicing elit.
        </p>
        <a href="adminmyapp/flower/{{ flower.id }}/change/" \ class="card-link"
            >Edit</a
        >
        <a href="adminmyapp/flower/{{ flower.id }}/delete/" \ class="card-link"
            >Delete</a
        >
    </div>
</div>
{% endfor %} {% endblock %}
